{% extends 'master.html' %}

{% block main-content %}
    <p>This is the live demo of Webimage, the Website preview generation tool.
        The website will be rendered using Webkit on a headless Linux server. The tool was written in C++ and it is <a href="http://github.com/raphaelcruzeiro/webimage">open source</a>.</p>
    <p>Generate a JPEG preview of any website you want by filling the form bellow. The full size preview and a half-size thumb will be sent to your
        email address in a few minutes.</p>
    <p>If you want to know how to use this utility on any application that you are developing, feel free to contact me using
        the contact form on <a href="http://raphaelcruzeiro.com/">my website</a>.</p>
    <form method="post" action="submit_generation_request">
        <h2>Generate a preview</h2>
        {{ form.as_p }}
        <input type="submit" value="Generate!" />
    </form>
{% endblock %}