<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <title>The Website preview generation tool</title>
</head>
<body>
<div class="main">
    <img src="/static/img/logo.png" alt="The Website preview generation tool" />
    {% block main-content %}
    {% endblock %}
</div>
<div class="bottom">
    <span>{{ year }} - <a href="http://raphaelcruzeiro.com">Raphael Cruzeiro</a>. Some rights reserved</span>
</div>
</body>
</html>