{% extends 'master.html' %}

{% block main-content %}
    <h2>Generating preview</h2>
    <p>The <i>webimage</i> tool is currently generating the preview of the website you requested. The resulting preview
    will be sent to <i>{{ email }}</i> shortly. Feel free to take a look on the tool's <a href="http://github.com/raphaelcruzeiro/webimage">source code</a> while you wait for your email.
        If you want to know some technical details of the tool <a href="http://raphaelcruzeiro.com/blog/2012/05/28/an-improved-website-preview-generation-tool-using-webkit/">you can check this post on my blog.</a></p>
{% endblock %}